

<div class="container">
	<hr>
	<!-- Footer -->
	<footer style="margin:-10px;">
		<div class="row">
			<div class="col-lg-4 text-center">
				<h5>
					<strong>Site Haritası</strong>
				</h5>
				<hr />
				<p>
					<a href="/Home/About"><span class="glyphicon glyphicon-info-sign" style="color: black;"></span> Hakkımızda</a><br />
					<a href="/Home/MostLiked"><span class="glyphicon glyphicon-star" style="color: black;"></span> En Beğenilenler</a><br />
					<a href="/Home/Index"><span class="glyphicon glyphicon-th-list" style="color: black;"></span> Son Yazılar</a>
				</p>
			</div>

			<div class="col-lg-4 text-center">
				<h5>
					<strong>Kitapleaks</strong>

				</h5>
				<hr />
				<p>
					Tüm hakları saklıdır &copy;<br />
					Kitapleaks @DateTime.Now.Year
				</p>
				<p>
					<a href="mailto:kitapleaks@gmail.com" class="btn btn-success btn-sm">Bize Ulaşın</a>
				</p>
			</div>

			<div class="col-lg-4 text-center">
				<h5>
					<strong>Sosyal Medya</strong>
				</h5>
				<hr />
				<div class="col-md-10 col-md-offset-1">

					<a class="btn btn-block btn-social btn-instagram" href="http://www.instagram.com/kitapleaks" target="_blank">
						<span class="fa fa-instagram"></span> Instagram'da takip et.
					</a>

					<a class="btn btn-block btn-social btn-twitter" href="http://www.twitter.com/kitapleaks" target="_blank">
						<span class="fa fa-twitter"></span> Twitter'da takip et.
					</a>

					
				</div>
			</div>
		</div>
	</footer>
	<br />
	<hr />
</div>

